*{
    font-family: 'Kanit', sans-serif;
}

.header{
    background-color: #101446;
}
.header .img-center{
   text-align: center;
}
.header img{
    width: 80px;
    height: auto;
}
.header ul li{
   list-style: none;
   display: inline-block;
}
.header ul li a{
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    transition: .6s;
}
.header ul li a:hover{
    color: #444cbd;
}

/*  Banner Section  */

.banner{
    background-image: url(./img/intro-bg.jpg);
    padding: 250px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.banner h1{
    text-align: center;
    color: #fff;
}
.banner p{
    text-align: center;
    color: #fff;
}
.banner .atag{
    text-align: center;
}
.banner a{
    background-color: rgb(14, 121, 179);
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: .6s;
}

.banner .atag:hover a{
    background-color: #141a74;
}

/*   Teem Section  */

.teem{
    background-color: #a6aeee;
    text-align: center;
}
.teem h1{
    text-align: center;
    font-size: 40px;
}
.teem img{
    padding-bottom: 0;
    margin-bottom: 0;
}
.teem h5 {
    margin-bottom: -10px;
}
.teem a{
    background-color: rgb(14, 121, 179);
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: .6s;
}
.teem a:hover{
    background-color: #141a74;
}

/*  About Section  */
.about{
    background-color: #c2d4ea;
}
.about h1{
    text-align: center;
    font-size: 40px;
}


/*  Contact Section  */

.contact{
   background-color: rgb(222, 222, 222);
}
.contact h1{
    text-align: center;
    font-size: 40px;
   
 }
 .contact .form input{
    border: 2px solid rgb(186, 184, 184);
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    padding-left: 10px;
 }
 .contact .form textarea{
    border: 2px solid rgb(186, 184, 184);
    width: 100%;
    border-radius: 5px;
    height: 80px;
 }
 .contact button{
    background-color: rgb(14, 121, 179);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    transition: .6s;
 }
 .contact button:hover{
    background-color: #101446;
 }

 /*   Footer Section  */

 .footer{
    background-color: #165c9a;
 }
 .footer p{
    text-align: center;
    color: #fff;
 }
 .footer samp{
    font-weight: bold;
 }